//基础变量 49 138 251 rgb(49,138,251)
$primary-color:rgb(67, 163, 251); //基础颜色
$primary-color-light:rgb(67, 163, 251); //基础颜色高亮
$error-color:#E34545;
$error-color-light:#FF9E9E;
$normal-color:#394043; //正常字体颜色
$normal-color-light:#556074; //正常字体颜色高亮
$normal-color-disabled:#BDBDBD; //正常字体颜色禁用
$memo-color:#BB844F;
$memo-color-light:#BABEC6;
$price-color:#FF7431; //价格字体颜色
$bgcolor: #F9F9F9; //背景颜色
$pageBgColor: rgb(241, 249, 255); //页面背景颜色
$input-border-color:#E9ECEE; //input边框颜色
$shadow-color: #F5F5F5; //阴影颜色
$close-color: #727D92; //关闭按钮颜色
$primary-button-color-start:rgb(67, 163, 251);
$primary-button-color-end:rgb(67, 163, 251);
$second-button-color-start:#FF8D2B;
$second-button-color-end:#FF4944;
$border-line:#e6e6e6;
$font-hg:1.6rem;
$font-lg:1.5rem;
$font-md:1.4rem;
$font-sm:1.2rem;
$font-tn:1rem;
$pd-hg:20px;
$pd-lg:16px;
$pd-md:10px;
$pd-sm:6px;
$pd-tn:2px;
